.modal {
  width: 450px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: centre;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
  position: relative;
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
